.vscode/
inst_100/
instL_100/
instM_100/
out_100/
outL_100/
outM_100/
outXL_100/
*.lp
*.mps
*.nl
out/
instances/
*.dll
resultados/
conacyt2022/
logs/
logs2hrs/
logs 2 horas correcto/
Tesis-TDP-V1/
todos los csv/
*.csv
*.xlsx
*.png
*.jld2
*.zip
*.rar
pruebas/new gaps/venv
tex/
*.txt
*.pdf
*.jpg
*.eps
*.svg
.aider.chat.history.md
.aider.input.history
warmstart_procedure.txt
.aider.tags.cache.v3/cache.db
.aider.tags.cache.v3/cache.db-shm
.aider.tags.cache.v3/cache.db-wal
Manifest.toml
src/utils/venv
src/venv
src/paper/.venv/